<div class="inner">

    <body>

        <div>
            <button class="addtodom">
            Add Month
        </button>
        </div>
        <br><br><br><br>

        <div class="button-container">
            <button (click)='animateMe()'> Month 1 </button>
        </div>
    </body>

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">
                    <img src="/src/assets/angular.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Angular realtime table with Pusher
                </a>
         </nav> -->

    <div class="container" [@myfirstanimation]='state'>

        <!-- Alert here -->
        <div class="app-level-alert">
            <ng-alert [(message)]="message" [dismissable]="true" [closeType]="closeTypes.TIMES"></ng-alert>
        </div>
        <!-- /Alert here -->

        <!-- <p align="center">
            <img src="/src/assets/pusher.svg" width="30" height="100" width="60" alt="Pusher">
        </p> -->

        <div class="row">
            <div class="col-md-8">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <list-logbook></list-logbook>
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <create-logbook></create-logbook>
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>

    </div>


</div>