<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Students Login</title>
</head>

<body>
    <div id="big_wrapper">
        <h1>Students Login</h1>
        <div id="top_wrapper">
            <form (submit)="loginUser($event)">
                <input type="text" value="{{MatricNo}}" id="MatricNo">
                <br>
                <input type="text" value="{{password}}" id="password">
                <br>
                <button class="submit" (click)="submit()">Log in</button>
            </form>
        </div>
    </div>
</body>

</html>