<!-- <table *ngIf="studentDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Matric Number</td>
            <td>{{studentDetails.matricNo}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{studentDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
</table> -->


<div id="wrapper">
    <navigation1 [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation1>

    <div id="page-wrapper" class="gray-bg">

        <topnavbar1></topnavbar1>
        <router-outlet></router-outlet>


        <div class="footer">
            <div>
                <strong>Copyright</strong> SEMS &copy; 2019
            </div>
        </div>
    </div>

</div>