<div class="wrapper fadeInDown">
    <h1>SIWES Evaluation Management System</h1>
    <div id="formContent">
        <h2 class="underlineHover" routerLink="/login1" routerLinkActive="active"> Staff Sign In </h2>

        <h2 class="underlineHover" routerLink="/signup1" routerLinkActive="active">Staff Sign Up </h2>
        <router-outlet></router-outlet>
    </div>
    <div>
        <h2 class="underlineHover1" routerLink="/login" routerLinkActive="active"> Student</h2>

        <h2 class="underlineHover1" routerLink="/login1" routerLinkActive="active">Staff </h2>

    </div>
</div>