<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px">
                        <img src="/src/assets/img/users.png" id="icon" alt="User Icon" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.matricNo}}</strong>
                      </span>
                        <span class="text-muted text-xs block">{{loginInfo.email}}</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    SWWCC
                </div>
            </li>

            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home1']"><i class="fa fa-dashboard"></i> <span class="nav-label">Documents</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('others')}">
                <a [routerLink]="['./others1']"><i class="fa fa-desktop"></i> <span class="nav-label">Logbook</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('report')}">
                <a [routerLink]="['./report']"><i class="fa fas fa-database"></i> <span class="nav-label">Report</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('evaluate')}">
                <a [routerLink]="['./evaluate']"><i class="fa fas fa-notes-medical"></i> <span class="nav-label">Evaluation</span></a>
            </li>
        </ul>


    </div>
</nav>